body {
    margin: 0;
    padding: 0;
    /*background-image: url('');
    background-position: center; /* Centra la imagen 
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    /* Puedes agregar otras propiedades como color de fondo de respaldo */
    background-color: #4d3a66;
  }
  
  #menuPrin{
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.3s ease;
  z-index: 1000; /* Asegura que el menú esté por encima de otros elementos */
  }


  .inix {
    color: white;
    display: flex;
  justify-content: center;
  background-color: transparent;
  padding: 15px 0;
  }

  .inix:hover{
    color: black;
  }
  .card img {
    max-height: 16rem;
    min-height: 16rem;
  }
  
  .row {
    margin-bottom: 20px;
  }
  
  .new-row {
    display: none;
  }
  
  .carousel {
    margin-bottom: 4rem;
  }
  
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }

.carousel-caption.text-start{
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.78);
}
  
  .carousel-item {
    height: 32rem;
  }

  .carousel-item > img {
    
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }
  .bannerprincipal{
    height: 580px;
    background-image: url(/img/pipoca2.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .banner1{
    height: 580px;
    background-image: url(/img/banner2.2.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .banner2{
    height: 580px;
    background-image: url(/img/banner1.1.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  @media (min-width: 40em) {
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  }
  
  .logoNekoPrinci{
    width: 30px;
  }

  .btn-search{
    color: white;
    background-color: #b11703;
    display: inline-flex;
    align-items: center;
  }



.btn-suscribirse{
  background-color: rgb(221, 5, 5);
  color: white;
}


